[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pysatl = "*"

[dev-packages]
build = "1.0.3"
twine = "*"
black = "*"
ruff = "*"
pytest = "*"

[requires]
python_version = "3.12"
