[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]


[dev-packages]
build = "==1.0.3"
twine = "*"
black = "*"
ruff = "*"
pytest = "*"
pysatl = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[scripts]
docs = "bash scripts/build_docs.sh"

[requires]
python_version = "3.12"
